.portfolio{
  padding: 110px 70px 0;
  margin: 0 auto;
  max-width: 1140px;
}

.portfolio__title{
  margin: 0;
  padding-bottom: 50px;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #8B8B8B;
  mix-blend-mode: normal;
}

.portfolio__list{
  list-style: none;
  padding: 0 0 125px 0;
  margin: 0;
  display: grid;
  row-gap: 20px;
}

.portfolio__item{
display: flex;
justify-content: space-between;
}

.portfolio__text{
  margin: 0;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
}

.portfolio__link{
  text-decoration: none;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: -0.04em;
}

@media (max-width: 800px){
  .portfolio{
    padding: 90px 50px 0;
  }

  .portfolio__text{
    font-size: 28px;
    line-height: 50px;
  }

  .portfolio__text{
    font-size: 28px;
    line-height: 50px;
  }

  .portfolio__list{
    padding: 0 0 90px 0;
  }
}

@media (max-width: 400px){
  .portfolio{
    padding: 70px 14px 0;
  }

  .portfolio__title{
    padding-bottom: 40px;
    font-size: 14px;
    line-height: 20px;
  }

  .portfolio__text{
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__link{
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__list{
    padding: 0 0 70px 0;
  }
}